<ul>
	<li><a href="{{ path('homepage') }}">Home</a></li>
	<li><a href="{{ path('item.index') }}">All items</a></li>
	<li><a href="{{ path('item.create') }}">Create new item</a></li>
	<li><a href="{{ path('category.create') }}">Create new category</a></li>
	<li><a href="{{ path('category.index') }}">All categories</a></li>
</ul>